.row {
    @mixin clearfix;
}

.row__b-margin-until-medium {
    margin-bottom: 1rem;
}

.row--gutters {
    margin-right: -65px;
}

.row--gutters-large {
    margin-right: -100px;
}

.row--gutters-large > div {
    padding-right: 100px;
}

@mixin atMedium {
    .row__medium-4 {
        float: left;
        width: 33.33%;
    }
    .row__b-margin-until-medium {
        margin-bottom: 0;
    }

    .row__medium-6 {
        float: left;
        width: 50%;
    }

    .row__medium-8 {
        float: left;
        width: 66.66%;
    }
    .row__medium-4--larger {
        width: 37%;
    }
    .row__medium-8--larger {
        width: 63%;
    }
}


.row--gutters > div {
    
    padding-right: 65px;
}

